data/
*.pyc
*.swp
*.h5
Net/hdf/test.h5
Net/hdf/train.h5
legacy/
*.gz
*.solverstate
*.caffemodel
!Net/logs/saved/*/*.caffemodel
!Net/logs/saved/*/*.solverstate
!Net/nets/*/logs/*.caffemodel
!Net/nets/*/logs/*.solverstate
!Net/nets/*/logs/*/*.caffemodel
!Net/nets/*/logs/*/*.solverstate
*.ckpt
*.mov
.idea/
*.zip
*.jpg
